In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
url = 'https://leaguefeed.net/did-you-know-total-league-of-legends-player-count-updated/'
response = requests.get(url)

In [3]:
soup = BeautifulSoup(response.text, parser = 'xlmx')

In [4]:
soup.find('table')

<table aria-label="League of Legends Monthly Player Count (Live)" class="foo-table ninja_footable foo_table_13862 ninja_table_unique_id_1678705597_13862 ui table red nt_type_legacy_table selectable striped vertical_centered inverted footable-paging-right ninja_table_pro" data-filter-delay="1000" data-footable_id="13862" data-ninja_table_instance="ninja_table_instance_0" data-unique_identifier="ninja_table_unique_id_1678705597_13862" id="footable_13862">
<colgroup>
<col class="ninja_column_0"/>
<col class="ninja_column_1"/>
<col class="ninja_column_2"/>
</colgroup>
<thead>
<tr class="footable-header">
<th class="ninja_column_0 ninja_clmn_nm_month" scope="col">Month</th><th class="ninja_column_1 ninja_clmn_nm_averagemonthlyplayers" scope="col">Average Monthly Players</th><th class="ninja_column_2 ninja_clmn_nm_peakplayersinaday" scope="col">Peak Players In a Day</th></tr>
</thead>
<tbody>
<tr class="ninja_table_row_0 nt_row_id_640" data-row_id="640">
<td>Last 30 Days</td><td>180,000,000</td><td>31,512,723</td> </tr>
<tr class="ninja_table_row_1 nt_row_id_641" data-row_id="641">
<td>September 30, 2021</td><td>125,995,870</td><td>11,339,628</td> </tr>
<tr class="ninja_table_row_2 nt_row_id_642" data-row_id="642">
<td>August 30, 2021</td><td>126,550,278</td><td>11,389,525</td> </tr>
<tr class="ninja_table_row_3 nt_row_id_643" data-row_id="643">
<td>July 30, 2021</td><td>128,014,473</td><td>11,521,303</td> </tr>
<tr class="ninja_table_row_4 nt_row_id_644" data-row_id="644">
<td>June 30, 2021</td><td>126,335,475</td><td>11,370,193</td> </tr>
<tr class="ninja_table_row_5 nt_row_id_645" data-row_id="645">
<td>May 30, 2021</td><td>121,566,901</td><td>10,941,021</td> </tr>
<tr class="ninja_table_row_6 nt_row_id_646" data-row_id="646">
<td>April 30, 2021</td><td>118,501,466</td><td>10,665,132</td> </tr>
<tr class="ninja_table_row_7 nt_row_id_647" data-row_id="647">
<td>March 30, 2021</td><td>120,302,279</td><td>10,827,205</td> </tr>
<tr class="ninja_table_row_8 nt_row_id_648" data-row_id="648">
<td>February 28, 2021</td><td>117,522,367</td><td>10,577,013</td> </tr>
<tr class="ninja_table_row_9 nt_row_id_649" data-row_id="649">
<td>January 30, 2021</td><td>115,647,815</td><td>10,408,303</td> </tr>
<tr class="ninja_table_row_10 nt_row_id_650" data-row_id="650">
<td>December 30, 2020</td><td>121,206,637</td><td>10,908,597</td> </tr>
<tr class="ninja_table_row_11 nt_row_id_651" data-row_id="651">
<td>November 30, 2020</td><td>116,916,136</td><td>10,522,452</td> </tr>
<tr class="ninja_table_row_12 nt_row_id_652" data-row_id="652">
<td>October 30, 2020</td><td>93,485,674</td><td>8,413,711</td> </tr>
<tr class="ninja_table_row_13 nt_row_id_653" data-row_id="653">
<td>September 30, 2020</td><td>98,405,973</td><td>6,232,378</td> </tr>
<tr class="ninja_table_row_14 nt_row_id_654" data-row_id="654">
<td>August 30, 2020</td><td>105,765,976</td><td>6,698,512</td> </tr>
<tr class="ninja_table_row_15 nt_row_id_655" data-row_id="655">
<td>July 30, 2020</td><td>109,037,089</td><td>7,269,139</td> </tr>
<tr class="ninja_table_row_16 nt_row_id_656" data-row_id="656">
<td>June 30, 2020</td><td>112,409,370</td><td>4,871,073</td> </tr>
<tr class="ninja_table_row_17 nt_row_id_657" data-row_id="657">
<td>May 30, 2020</td><td>115,885,949</td><td>4,635,438</td> </tr>
<tr class="ninja_table_row_18 nt_row_id_658" data-row_id="658">
<td>April 30, 2020</td><td>129,323,250</td><td>5,604,008</td> </tr>
<tr class="ninja_table_row_19 nt_row_id_659" data-row_id="659">
<td>March 30, 2020</td><td>119,646,000</td><td>5,184,660</td> </tr>
<tr class="ninja_table_row_20 nt_row_id_660" data-row_id="660">
<td>February 28, 2020</td><td>109,250,000</td><td>5,462,500</td> </tr>
<tr class="ninja_table_row_21 nt_row_id_661" data-row_id="661">
<td>January 30, 2020</td><td>105,984,000</td><td>4,592,640</td> </tr>
<tr class="ninja_table_row_22 nt_row_id_662" data-row_id="662">
<td>December 30, 2020</td><td>99,636,000</td><td>3,985,440</td> </tr>
<tr class="ninja_table_row_23 nt_row_id_663" data-row_id="663">
<td>November 30, 2019</td><td>90,710,712</td><td>3,930,798</td> </tr>
<tr class="ninja_table_row_24 nt_row_id_664" data-row_id="664">
<td>October 30, 2019</td><td>82,556,502</td><td>3,577,448</td> </tr>
<tr class="ninja_table_row_25 nt_row_id_665" data-row_id="665">
<td>September 30, 2019</td><td>80,986,134</td><td>4,049,307</td> </tr>
<tr class="ninja_table_row_26 nt_row_id_666" data-row_id="666">
<td>August 30, 2019</td><td>76,936,827</td><td>3,077,473</td> </tr>
<tr class="ninja_table_row_27 nt_row_id_667" data-row_id="667">
<td>July 30, 2019</td><td>84,257,973</td><td>3,651,179</td> </tr>
<tr class="ninja_table_row_28 nt_row_id_668" data-row_id="668">
<td>June 30, 2019</td><td>74,551,785</td><td>3,230,577</td> </tr>
<tr class="ninja_table_row_29 nt_row_id_669" data-row_id="669">
<td>May 30, 2019</td><td>84,879,169</td><td>4,243,958</td> </tr>
<tr class="ninja_table_row_30 nt_row_id_670" data-row_id="670">
<td>April 30, 2019</td><td>89,980,081</td><td>4,499,004</td> </tr>
<tr class="ninja_table_row_31 nt_row_id_671" data-row_id="671">
<td>March 30, 2019</td><td>113,332,054</td><td>5,666,603</td> </tr>
<tr class="ninja_table_row_32 nt_row_id_672" data-row_id="672">
<td>February 28, 2019</td><td>108,650,948</td><td>5,432,547</td> </tr>
<tr class="ninja_table_row_33 nt_row_id_673" data-row_id="673">
<td>January 30, 2019</td><td>109,778,848</td><td>3,659,295</td> </tr>
</tbody>
</table>

In [7]:
table_html = str(soup.find('table'))

In [8]:
data = pd.read_html(table_html)

In [10]:
data[0]

                 Month  Average Monthly Players  Peak Players In a Day
0         Last 30 Days                180000000               31512723
1   September 30, 2021                125995870               11339628
2      August 30, 2021                126550278               11389525
3        July 30, 2021                128014473               11521303
4        June 30, 2021                126335475               11370193
5         May 30, 2021                121566901               10941021
6       April 30, 2021                118501466               10665132
7       March 30, 2021                120302279               10827205
8    February 28, 2021                117522367               10577013
9     January 30, 2021                115647815               10408303
10   December 30, 2020                121206637               10908597
11   November 30, 2020                116916136               10522452
12    October 30, 2020                 93485674                8413711
13  September 30, 2020                 98405973                6232378
14     August 30, 2020                105765976                6698512
15       July 30, 2020                109037089                7269139
16       June 30, 2020                112409370                4871073
17        May 30, 2020                115885949                4635438
18      April 30, 2020                129323250                5604008
19      March 30, 2020                119646000                5184660
20   February 28, 2020                109250000                5462500
21    January 30, 2020                105984000                4592640
22   December 30, 2020                 99636000                3985440
23   November 30, 2019                 90710712                3930798
24    October 30, 2019                 82556502                3577448
25  September 30, 2019                 80986134                4049307
26     August 30, 2019                 76936827                3077473
27       July 30, 2019                 84257973                3651179
28       June 30, 2019                 74551785                3230577
29        May 30, 2019                 84879169                4243958
30      April 30, 2019                 89980081                4499004
31      March 30, 2019                113332054                5666603
32   February 28, 2019                108650948                5432547
33    January 30, 2019                109778848                3659295