In [1]:
from datetime import datetime as dt

In [2]:
a_time = '2021-12-08 12:30:56.00'

In [3]:
dt.strptime(a_time, '%Y-%m-%d %H:%M:%S.%f')

datetime.datetime(2021, 12, 8, 12, 30, 56)

In [4]:
a_diff_time = '2021-12-07 12:30:56'

In [5]:
dt.strptime(a_diff_time, '%Y-%m-%d %H:%M:%S')

datetime.datetime(2021, 12, 7, 12, 30, 56)

In [6]:
today = dt.strptime(a_time, '%Y-%m-%d %H:%M:%S.%f')
yesterday = dt.strptime(a_diff_time, '%Y-%m-%d %H:%M:%S')

In [7]:
today > yesterday #datetime objects as boolean expressions

True

In [8]:
import pandas as pd

In [9]:
olympics_data = pd.read_csv('Olympics_Postponed_Twitter_Unique.csv', encoding  = 'utf-8')

In [10]:
olympics_data['Date'].head()

0    2020-03-31 23:58:48.0
1    2020-03-31 23:57:17.0
2    2020-03-31 23:57:00.0
3    2020-03-31 23:56:25.0
4    2020-03-31 23:55:31.0
Name: Date, dtype: object

In [11]:
type(olympics_data['Date'][0])

str

In [12]:
olympics_data['datetimes'] = [dt.strptime(x, '%Y-%m-%d %H:%M:%S.%f') for x in olympics_data['Date']]

In [13]:
olympics_data['datetimes'].head()

0   2020-03-31 23:58:48
1   2020-03-31 23:57:17
2   2020-03-31 23:57:00
3   2020-03-31 23:56:25
4   2020-03-31 23:55:31
Name: datetimes, dtype: datetime64[ns]

In [14]:
type(olympics_data['datetimes'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [15]:
tweets_before_March_25 = olympics_data[olympics_data['datetimes'] < '2020-03-24 23:59:00']

In [16]:
print(len(tweets_before_March_25.index))
tweets_before_March_25.head()

9023

,Date,Title,Url,Language,Author,Avatar,Category Details,Checked,City,Display URLs,...,Twitter Following,Twitter Reply Count,Twitter Reply to,Twitter Retweet of,Twitter Retweets,Twitter Tweets,Twitter Verified,Updated,Reach (new),datetimes
10691,2020-03-24 23:57:18.0,BREAKING: Athletes who have already qualified ...,http://twitter.com/julianlinden/statuses/12426...,en,julianlinden,https://audiences.brandwatch.com/api/audiences...,NaN,False,Sydney,NaN,...,990,4,NaN,NaN,19,985,True,2020-10-05T16:39:24.782+0000,12983,2020-03-24 23:57:18
10692,2020-03-24 23:56:51.0,@THEChrisKessell New CEO compensation will be ...,http://twitter.com/tapernoux1/statuses/1242601...,en,tapernoux1,https://audiences.brandwatch.com/api/audiences...,NaN,False,Minneapolis,NaN,...,369,0,http://twitter.com/THEChrisKessell/statuses/12...,NaN,0,686,False,2020-10-05T16:39:24.577+0000,0,2020-03-24 23:56:51
10693,2020-03-24 23:56:31.0,@Tokyo2020 We’re all broke and jobless anyways...,http://twitter.com/Apsilon/statuses/1242601217...,en,Apsilon,https://audiences.brandwatch.com/api/audiences...,NaN,False,NaN,NaN,...,128,0,http://twitter.com/Tokyo2020/statuses/12424401...,NaN,0,999,False,2020-10-05T16:39:24.743+0000,0,2020-03-24 23:56:31
10694,2020-03-24 23:56:17.0,@KelseyLeFevour @Tokyo2020 https://t.co/46tMXO...,http://twitter.com/Morrsport/statuses/12426011...,de,Morrsport,https://audiences.brandwatch.com/api/audiences...,NaN,False,NaN,NaN,...,687,0,http://twitter.com/KelseyLeFevour/statuses/124...,NaN,0,5897,False,2020-10-05T16:39:24.737+0000,0,2020-03-24 23:56:17
10695,2020-03-24 23:56:17.0,@Tokyo2020 このニュースを聞いて、とても悲しいです、しかしこれは最も良い結果でしょう,http://twitter.com/jcl050709/statuses/12426011...,ja,jcl050709,https://audiences.brandwatch.com/api/audiences...,NaN,False,NaN,NaN,...,21,0,http://twitter.com/Tokyo2020/statuses/12424475...,NaN,0,4,False,2020-10-05T16:39:24.731+0000,0,2020-03-24 23:56:17

In [17]:
tweets_from_March_24 = olympics_data[(olympics_data['datetimes'] > '2020-03-24 00:00:00') & (olympics_data['datetimes'] < '2020-03-24 23:59:00')]

In [18]:
print(len(tweets_from_March_24.index))
tweets_from_March_24.head()

3435

,Date,Title,Url,Language,Author,Avatar,Category Details,Checked,City,Display URLs,...,Twitter Following,Twitter Reply Count,Twitter Reply to,Twitter Retweet of,Twitter Retweets,Twitter Tweets,Twitter Verified,Updated,Reach (new),datetimes
10691,2020-03-24 23:57:18.0,BREAKING: Athletes who have already qualified ...,http://twitter.com/julianlinden/statuses/12426...,en,julianlinden,https://audiences.brandwatch.com/api/audiences...,NaN,False,Sydney,NaN,...,990,4,NaN,NaN,19,985,True,2020-10-05T16:39:24.782+0000,12983,2020-03-24 23:57:18
10692,2020-03-24 23:56:51.0,@THEChrisKessell New CEO compensation will be ...,http://twitter.com/tapernoux1/statuses/1242601...,en,tapernoux1,https://audiences.brandwatch.com/api/audiences...,NaN,False,Minneapolis,NaN,...,369,0,http://twitter.com/THEChrisKessell/statuses/12...,NaN,0,686,False,2020-10-05T16:39:24.577+0000,0,2020-03-24 23:56:51
10693,2020-03-24 23:56:31.0,@Tokyo2020 We’re all broke and jobless anyways...,http://twitter.com/Apsilon/statuses/1242601217...,en,Apsilon,https://audiences.brandwatch.com/api/audiences...,NaN,False,NaN,NaN,...,128,0,http://twitter.com/Tokyo2020/statuses/12424401...,NaN,0,999,False,2020-10-05T16:39:24.743+0000,0,2020-03-24 23:56:31
10694,2020-03-24 23:56:17.0,@KelseyLeFevour @Tokyo2020 https://t.co/46tMXO...,http://twitter.com/Morrsport/statuses/12426011...,de,Morrsport,https://audiences.brandwatch.com/api/audiences...,NaN,False,NaN,NaN,...,687,0,http://twitter.com/KelseyLeFevour/statuses/124...,NaN,0,5897,False,2020-10-05T16:39:24.737+0000,0,2020-03-24 23:56:17
10695,2020-03-24 23:56:17.0,@Tokyo2020 このニュースを聞いて、とても悲しいです、しかしこれは最も良い結果でしょう,http://twitter.com/jcl050709/statuses/12426011...,ja,jcl050709,https://audiences.brandwatch.com/api/audiences...,NaN,False,NaN,NaN,...,21,0,http://twitter.com/Tokyo2020/statuses/12424475...,NaN,0,4,False,2020-10-05T16:39:24.731+0000,0,2020-03-24 23:56:17