In [1]:
from datetime import datetime

In [2]:
import json
import pandas as pd

In [3]:
with open(r"C:\Users\dsilva2\EMAT22110_FA21\facebook-davidsilva100046_full\posts\your_posts_1.json") as p:
    posts = json.load(p)

In [4]:
posts.keys()

AttributeError: 'list' object has no attribute 'keys'

In [5]:
type(posts)

list

In [6]:
posts[0:5]

[{'timestamp': 1211508036,
  'data': [{'post': 'is el presidente follow me'}],
  'title': 'David Silva updated his status.'},
 {'timestamp': 1212037617,
  'data': [{'post': 'is your leader... do as he says'}],
  'title': 'David Silva updated his status.'},
 {'timestamp': 1212127875,
  'data': [{'post': 'just got back from climbing! it was awesome!!'}],
  'title': 'David Silva updated his status.'},
 {'timestamp': 1212206744,
  'data': [{'post': 'has to work tomorow :('}],
  'title': 'David Silva updated his status.'},
 {'timestamp': 1213050248,
  'data': [{'post': 'is going to MEXICO in 3 days!'}],
  'title': 'David Silva updated his status.'}]

In [7]:
posts[0].keys()

dict_keys(['timestamp', 'data', 'title'])

In [ ]:
posts_df =

In [8]:
with open(r"C:\Users\dsilva2\EMAT22110_FA21\technogecko_20210830\content\posts_1.json") as ig:
    ig_posts = json.load(ig)

In [9]:
ig_posts.keys()

AttributeError: 'list' object has no attribute 'keys'

In [10]:
ig_posts[0:5]

[{'media': [{'uri': 'media/posts/201811/43915374_2141521442566840_1991143337297954676_n_17994076003005750.jpg',
    'creation_timestamp': 1541137894,
    'media_metadata': {'photo_metadata': {'exif_data': [{'latitude': 46.7326,
        'longitude': -117.172}]}},
    'title': 'What are you looking at? #goodsit #kaiadog'}]},
 {'media': [{'uri': 'media/posts/201807/36556928_197013067627333_1177012903883046912_n_17942018140119351.jpg',
    'creation_timestamp': 1530495575,
    'media_metadata': {'photo_metadata': {'exif_data': [{'latitude': 46.8592,
        'longitude': -116.394}]}},
    'title': 'Kaia can outrun Monday.\n\nFinally got to spend a day camping to celebrate our anniversary. It was wonderful, relaxing, and best of all we wore out the pup.'}]},
 {'media': [{'uri': 'media/posts/201805/32691673_2107638672827122_8543642468116070400_n_17859718045247019.jpg',
    'creation_timestamp': 1527488513,
    'title': ''},
   {'uri': 'media/posts/201805/33198212_210888626372317_73699143423361024_n_17950194778031956.jpg',
    'creation_timestamp': 1527488515,
    'title': ''},
   {'uri': 'media/posts/201805/33842217_757741357891192_2622733212505341952_n_17919815269183126.jpg',
    'creation_timestamp': 1527488519,
    'title': ''},
   {'uri': 'media/posts/201805/33546010_999342130229329_8599207804349186048_n_17929211449087030.jpg',
    'creation_timestamp': 1527488528,
    'title': ''},
   {'uri': 'media/posts/201805/33136084_977424825772920_3245918110863065088_n_17947819462035459.jpg',
    'creation_timestamp': 1527488531,
    'title': ''}],
  'title': 'Prague is other-worldly in itâ\x80\x99s beauty. I have no context for comparison, but this has to be the most striking city in the world.',
  'creation_timestamp': 1527489003},
 {'media': [{'uri': 'media/posts/201710/22344761_1953086208239247_4849888886098231296_n_17896153990066796.jpg',
    'creation_timestamp': 1507475551,
    'title': ''},
   {'uri': 'media/posts/201710/22277990_120631521942306_9092689474961276928_n_17902107334015357.jpg',
    'creation_timestamp': 1507475525,
    'title': ''}],
  'title': 'Weâ\x80\x99re just exploring. Thanks @orangekoala2 for the photos.',
  'creation_timestamp': 1507475578},
 {'media': [{'uri': 'media/posts/201706/19122260_290065541464267_1277418647874174976_n_17883573478062693.jpg',
    'creation_timestamp': 1497638886,
    'title': ''},
   {'uri': 'media/posts/201706/19121069_232109340628520_6711744732034236416_n_17884502407035346.jpg',
    'creation_timestamp': 1497638890,
    'title': ''}],
  'title': 'From #coranadobeach with @aroseroar16 and @jbrickcity by @jackie.cc Thanks for the fun in San Diego and the photos!',
  'creation_timestamp': 1497639133}]

In [11]:
ig_posts[0].keys()

dict_keys(['media'])

In [13]:
ig_posts[0]['media']

[{'uri': 'media/posts/201811/43915374_2141521442566840_1991143337297954676_n_17994076003005750.jpg',
  'creation_timestamp': 1541137894,
  'media_metadata': {'photo_metadata': {'exif_data': [{'latitude': 46.7326,
      'longitude': -117.172}]}},
  'title': 'What are you looking at? #goodsit #kaiadog'}]

In [14]:
posts_df = pd.DataFrame(posts)

In [15]:
posts_df.head()

,timestamp,data,title,attachments,tags
0,1211508036,[{'post': 'is el presidente follow me'}],David Silva updated his status.,NaN,NaN
1,1212037617,[{'post': 'is your leader... do as he says'}],David Silva updated his status.,NaN,NaN
2,1212127875,[{'post': 'just got back from climbing! it was...,David Silva updated his status.,NaN,NaN
3,1212206744,[{'post': 'has to work tomorow :('}],David Silva updated his status.,NaN,NaN
4,1213050248,[{'post': 'is going to MEXICO in 3 days!'}],David Silva updated his status.,NaN,NaN

In [16]:
len(posts_df.index)

398

In [38]:
ig_posts[0]['media'][0]

{'uri': 'media/posts/201811/43915374_2141521442566840_1991143337297954676_n_17994076003005750.jpg',
 'creation_timestamp': 1541137894,
 'media_metadata': {'photo_metadata': {'exif_data': [{'latitude': 46.7326,
     'longitude': -117.172}]}},
 'title': 'What are you looking at? #goodsit #kaiadog'}

In [27]:
ig_posts_data = [x['media'][0] for x in ig_posts]

In [29]:
ig_posts_df = pd.DataFrame(ig_posts_data)

In [30]:
ig_posts_df.head()

,uri,creation_timestamp,media_metadata,title
0,media/posts/201811/43915374_2141521442566840_1...,1541137894,{'photo_metadata': {'exif_data': [{'latitude':...,What are you looking at? #goodsit #kaiadog
1,media/posts/201807/36556928_197013067627333_11...,1530495575,{'photo_metadata': {'exif_data': [{'latitude':...,Kaia can outrun Monday.\n\nFinally got to spen...
2,media/posts/201805/32691673_2107638672827122_8...,1527488513,NaN,
3,media/posts/201710/22344761_1953086208239247_4...,1507475551,NaN,
4,media/posts/201706/19122260_290065541464267_12...,1497638886,NaN,

In [39]:
len(ig_posts_df.index)

61

In [42]:
a_day = datetime.utcfromtimestamp(posts_df['timestamp'][0])

In [43]:
a_day.year

2008

In [44]:
a_day.month

5

In [46]:
a_day.second

36

In [47]:
a_day.hour

2

In [48]:
a_day.minute

0

In [49]:
another_day = datetime.utcfromtimestamp(posts_df['timestamp'][80])

In [53]:
an_ig_day = datetime.utcfromtimestamp(ig_posts_df['creation_timestamp'][0])

In [55]:
an_ig_day

datetime.datetime(2018, 11, 2, 5, 51, 34)

In [50]:
another_day - a_day

datetime.timedelta(days=277, seconds=2134)

In [113]:
another_day < a_day

False

From here on we spent time as a class working through out how solve the issue of NaNs showing up in some people's creation_timestamp column.

In [59]:
import numpy

In [68]:
type(posts_df['timestamp'][80]) == numpy.int64

True

In [72]:
posts_df['datetimes'] = [datetime.utcfromtimestamp(x) for x in posts_df['timestamp']]

In [86]:
posts_df['datetimes'] = [datetime.utcfromtimestamp(x) if type(x) == int else datetime.utcfromtimestamp(0) for x in posts_df['timestamp']]

In [81]:
dt = []
for x in posts_df['timestamp'][0:10]:
    print(type(x))
    #if type(x) == numpy.int64:
    #    dt.append(datetime.utcfromtimestamp(x))
    #else:
    #    dt.append(0)

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [79]:
dt

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [87]:
posts_df.head()

,timestamp,data,title,attachments,tags,datetimes
0,1211508036,[{'post': 'is el presidente follow me'}],David Silva updated his status.,NaN,NaN,2008-05-23 02:00:36
1,1212037617,[{'post': 'is your leader... do as he says'}],David Silva updated his status.,NaN,NaN,2008-05-29 05:06:57
2,1212127875,[{'post': 'just got back from climbing! it was...,David Silva updated his status.,NaN,NaN,2008-05-30 06:11:15
3,1212206744,[{'post': 'has to work tomorow :('}],David Silva updated his status.,NaN,NaN,2008-05-31 04:05:44
4,1213050248,[{'post': 'is going to MEXICO in 3 days!'}],David Silva updated his status.,NaN,NaN,2008-06-09 22:24:08

In [89]:
posts_df = posts_df.sort_values('datetimes', ascending = True)

In [91]:
posts_df['deltas_since_first_post'] = [x - posts_df['datetimes'].iloc[0] for x in posts_df['datetimes']]

In [92]:
posts_df['days_since_first_post'] = [x.days for x in posts_df['deltas_since_first_post']]

In [93]:
posts_df.head()

,timestamp,data,title,attachments,tags,datetimes,timedeltas,deltas_since_first_post,days_since_first_post
0,1211508036,[{'post': 'is el presidente follow me'}],David Silva updated his status.,NaN,NaN,2008-05-23 02:00:36,0 days 00:00:00,0 days 00:00:00,0
1,1212037617,[{'post': 'is your leader... do as he says'}],David Silva updated his status.,NaN,NaN,2008-05-29 05:06:57,6 days 03:06:21,6 days 03:06:21,6
2,1212127875,[{'post': 'just got back from climbing! it was...,David Silva updated his status.,NaN,NaN,2008-05-30 06:11:15,7 days 04:10:39,7 days 04:10:39,7
3,1212206744,[{'post': 'has to work tomorow :('}],David Silva updated his status.,NaN,NaN,2008-05-31 04:05:44,8 days 02:05:08,8 days 02:05:08,8
4,1213050248,[{'post': 'is going to MEXICO in 3 days!'}],David Silva updated his status.,NaN,NaN,2008-06-09 22:24:08,17 days 20:23:32,17 days 20:23:32,17

In [101]:
ig_posts_list = ig_posts_df['creation_timestamp']

In [108]:
ig_posts_list[61] = 'NaN'

In [109]:
ig_posts_list[:]

 0     1541137894
 1     1530495575
 2     1527488513
 3     1507475551
 4     1497638886
          ...
 58    1439401096
 59    1439047843
 60    1439002287
-1            NaN
 61           NaN
Name: creation_timestamp, Length: 63, dtype: object

In [111]:
test = [datetime.utcfromtimestamp(x) if type(x) == int else 0 for x in ig_posts_list]

In [112]:
test

[datetime.datetime(2018, 11, 2, 5, 51, 34),
 datetime.datetime(2018, 7, 2, 1, 39, 35),
 datetime.datetime(2018, 5, 28, 6, 21, 53),
 datetime.datetime(2017, 10, 8, 15, 12, 31),
 datetime.datetime(2017, 6, 16, 18, 48, 6),
 datetime.datetime(2017, 5, 19, 4, 31, 4),
 datetime.datetime(2017, 4, 8, 23, 19, 39),
 datetime.datetime(2016, 12, 24, 19, 51, 7),
 datetime.datetime(2016, 9, 24, 20, 20, 58),
 datetime.datetime(2016, 9, 17, 1, 27, 18),
 datetime.datetime(2016, 9, 8, 8, 9, 2),
 datetime.datetime(2016, 8, 7, 11, 7, 49),
 datetime.datetime(2016, 7, 20, 2, 28, 59),
 datetime.datetime(2016, 7, 18, 2, 14, 10),
 datetime.datetime(2016, 6, 5, 5, 27, 12),
 datetime.datetime(2016, 6, 1, 20, 54, 15),
 datetime.datetime(2016, 5, 8, 3, 11, 2),
 datetime.datetime(2016, 4, 20, 23, 59, 49),
 datetime.datetime(2016, 4, 18, 1, 15, 19),
 datetime.datetime(2016, 4, 17, 17, 58, 35),
 datetime.datetime(2016, 3, 14, 5, 28, 49),
 datetime.datetime(2016, 3, 13, 5, 9, 44),
 datetime.datetime(2016, 3, 13, 5, 8, 39),
 datetime.datetime(2015, 12, 27, 6, 11, 59),
 datetime.datetime(2015, 9, 24, 16, 4, 17),
 datetime.datetime(2014, 3, 13, 17, 46, 58),
 datetime.datetime(2013, 12, 31, 19, 21),
 datetime.datetime(2013, 12, 27, 7, 18, 53),
 datetime.datetime(2013, 12, 21, 23, 17, 50),
 datetime.datetime(2013, 12, 9, 7, 27, 18),
 datetime.datetime(2013, 10, 19, 21, 5, 19),
 datetime.datetime(2013, 10, 5, 3, 46, 43),
 datetime.datetime(2013, 9, 26, 20, 21, 16),
 datetime.datetime(2013, 8, 28, 15, 37, 23),
 datetime.datetime(2013, 8, 23, 14, 18, 40),
 datetime.datetime(2013, 8, 19, 16, 30, 28),
 datetime.datetime(2013, 8, 19, 4, 3, 12),
 datetime.datetime(2013, 8, 14, 23, 39, 6),
 datetime.datetime(2013, 8, 12, 20, 59, 37),
 datetime.datetime(2013, 8, 11, 22, 35, 17),
 datetime.datetime(2013, 8, 11, 0, 16, 25),
 datetime.datetime(2013, 8, 10, 23, 31, 1),
 datetime.datetime(2013, 6, 24, 23, 57, 11),
 datetime.datetime(2013, 6, 18, 23, 43),
 datetime.datetime(2013, 4, 15, 1, 29, 17),
 datetime.datetime(2013, 4, 14, 15, 7, 43),
 datetime.datetime(2013, 4, 6, 12, 49, 54),
 datetime.datetime(2013, 3, 8, 23, 20, 9),
 datetime.datetime(2013, 3, 3, 4, 59, 46),
 datetime.datetime(2013, 2, 16, 21, 56, 43),
 datetime.datetime(2013, 2, 15, 7, 46, 29),
 datetime.datetime(2013, 2, 9, 18, 53, 53),
 datetime.datetime(2013, 2, 8, 5, 25, 48),
 datetime.datetime(2013, 2, 5, 2, 36, 6),
 datetime.datetime(2013, 2, 4, 17, 50, 30),
 datetime.datetime(2015, 8, 29, 20, 45, 9),
 datetime.datetime(2015, 8, 29, 20, 40, 35),
 datetime.datetime(2015, 8, 12, 18, 27, 25),
 datetime.datetime(2015, 8, 12, 17, 38, 16),
 datetime.datetime(2015, 8, 8, 15, 30, 43),
 datetime.datetime(2015, 8, 8, 2, 51, 27),
 0,
 0]