In [1]:
import requests
import json
import pandas as pd

### Bureau of Labor Statistics data:

In [2]:
bls_headers = {'Content-type' : 'application/json'}
bls_payload = json.dumps({"seriesid": ['CUUR0000SA0','SUUR0000SA0'],"startyear":"2011", "endyear":"2014"})
bls_endpoint = 'https://api.bls.gov/publicAPI/v2/timeseries/data/'
p = requests.request("POST", url = bls_endpoint, data = bls_payload, headers = bls_headers)

In [3]:
p.status_code

200

In [4]:
p.text[0:40]

'{"status":"REQUEST_SUCCEEDED","responseT'

In [5]:
bls_data = json.loads(p.text)

In [6]:
bls_data.keys()

dict_keys(['status', 'responseTime', 'message', 'Results'])

In [ ]:
bls_data['Results']

### Census data:

In [8]:
census_response = requests.request("GET", url = 'https://api.census.gov/data/2019/acs/acs1/pumspr?get=PWGTP,WGTP,JWMNP,AGEP,FES,DRIVESP,JWAP,MV')

In [9]:
census_response.status_code

200

In [10]:
census_response.text[0:50]

'[["PWGTP","WGTP","JWMNP","AGEP","FES","DRIVESP","J'

In [11]:
census_data = json.loads(census_response.text)

In [12]:
census_data[0:2]

[['PWGTP', 'WGTP', 'JWMNP', 'AGEP', 'FES', 'DRIVESP', 'JWAP', 'MV'],
 ['16', '0', '0', '47', '0', '0', '0', '0']]

In [13]:
census_df = pd.DataFrame(census_data)

In [14]:
census_df.head()

       0     1      2     3    4        5     6   7
0  PWGTP  WGTP  JWMNP  AGEP  FES  DRIVESP  JWAP  MV
1     16     0      0    47    0        0     0   0
2     22     0      0    96    0        0     0   0
3     14     0      0    21    0        0     0   0
4      3     0      0    40    0        0     0   0

In [15]:
census_df.columns = census_df.iloc[0]

In [16]:
census_df.head()

0  PWGTP  WGTP  JWMNP  AGEP  FES  DRIVESP  JWAP  MV
0  PWGTP  WGTP  JWMNP  AGEP  FES  DRIVESP  JWAP  MV
1     16     0      0    47    0        0     0   0
2     22     0      0    96    0        0     0   0
3     14     0      0    21    0        0     0   0
4      3     0      0    40    0        0     0   0

In [17]:
census_df = census_df[1:]

In [18]:
census_df.head()

0 PWGTP WGTP JWMNP AGEP FES DRIVESP JWAP MV
1    16    0     0   47   0       0    0  0
2    22    0     0   96   0       0    0  0
3    14    0     0   21   0       0    0  0
4     3    0     0   40   0       0    0  0
5    41    0     0   96   0       0    0  0